/* .register {
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://images.pexels.com/photos/593323/pexels-photo-593323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  align-items: center;
}

.registerTitle {
  font-size: 50px;
  text-shadow: 2px 2px rgba(12, 12, 12, 0.486)
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: none;
}

.registerForm > label {
  margin: 10px 0;
  font-size: 20px;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton {
  width: 189px;
  height: 39px;
  position: absolute;
  top: 60px;
  right: 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
} */

.registerForm {
  margin-top: -95px;
}

.login{
 overflow: hidden;
  margin-top: -95px
}

.registerButton {
  margin-top: -30px;
}

.register {
  border-radius: 5px;
  position: relative;
  height: 90vh;
  width: 1194px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ), url("https://images.pexels.com/photos/2179205/pexels-photo-2179205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center scroll;
  background-size: cover;
  float: left;
  -webkit-animation: bgslide 2.3s forwards;
          animation: bgslide 2.3s forwards;
}
.register img {
  width: 248px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: auto;
  margin: 19px 0 0 25px;
}