.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(251, 194, 235, 1),
    rgba(166, 193, 238, 1)
  );
  
}

/*User Avatar */
.w-100 {
  height: 300px;
  width: 300px;
}

.h {
  height:100%;
}

.card {
  margin-bottom: 20%;
}



.no-photos p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.no-photos img{
  height: 200px;
  width: 200px;
  margin-left: 38%;
}
