

.postDetailsWrapper {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  padding-right: 10px;
}

.postDetailsImg {
  width: 100%;
  height: 500px;
  object-fit: fill;
  border-radius: 10px;
}

.postDetailsTitle {
  text-align: center;
  font-family: "Cinzel", serif;
  margin: 30px;
  font-weight: 600;
  font-size: 30px;
  color: black;
}

.postDetailsEdit {
  margin-right: -10px;
  float: right;
  margin-top: 25px;
  font-size: 18px;
}

.postDetailsIcon {
  margin-left: 20px;
  cursor: pointer;
}

.postDetailsIcon:first-child {
  color: rgb(0, 0, 0);
}

.postDetailsIcon:last-child {
  color: tomato;
}

.postDetailsInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #b39656;
  font-family: "Varela", sans-serif;
  font-style: italic;
}

.postDetailsDescription {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.container.mt-5 {
  margin-bottom: 20%;
  border: none;
}

.d-flex.flex-column.comment-section{
  background-color: black !important;
  border: none;
}
