.main {
  background: radial-gradient(circle at 10% 20%, rgb(253, 239, 132) 0%, rgb(247, 198, 169) 54.2%, rgb(21, 186, 196) 100.3%);
  width: 1903px;
  height: 890px;
}

.mainTitleLarge {
  position: relative;
  top: 230px;
  right: 350px;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  color: rgba(0, 0, 0, 0.877);
}

.mainTitleSmall {
  position: relative;
  top: 100px;
  left: 100px;
  float: left;
  width: 40%;
  padding: 100px;
  text-align: justify;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.877);
}

.mainImg {
  position: relative;
  bottom: 100px;
  left: 1000px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-image: url(../../assets/aboutus.jpg);
  background-size: cover;
  background-position: 100%;
}
