.profile {
    display: flex;
    align-items: center;
    height: 1200px;
}

.profileWrapper{
    flex: 9;
    padding: 20px;
}




.profileForm{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;
    box-shadow: none;
}

.profilePicture{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.profileForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.profileForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightblue;
    width: 300px;
}

.profileSubmit {
    width: 100px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

