.explore-posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.load-more {
  display: inline-block;
  margin-top: 20px;
  background-color: black;
  padding: 20px 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  cursor: pointer;
  width: 200px;
  height: 60px;
  font-size: 15px;
  position: relative;
  bottom: 30px;
  margin-left: 44%;
  margin-right: 40%;
}
